/**
 * 01. CSS GENERAL SUPERIOR
 *
 * -------------------------------------------------------------------
 */
@font-face {
    font-family: TituloDCA;
    src: url('../fuentes/Constantia.ttf');
}
@font-face {
    font-family: TextoNav;
    src: url('../fuentes/Antonio-Light.ttf');
}
body {
    color: #002E6E;
}
div.container div.row.dca-copete div.col-lg-4 img {
    margin: 6px 0;
}
div.container div.row.dca-copete h1 {
    color: #002e6e;
    font-family: TituloDCA;
    margin-top: 16px;
}
h4.my-4 {
    color: #06C;
}
div.container div.row.dca-copete p {
    color: #00b8de;
 }
nav.navbar.navbar-expand-lg.navbar-dark {
    background-color: #0066cc;
}
div#navbarResponsive ul.navbar-nav.ml-auto {
    font-family: TextoNav;
    font-size: 1.2em;
}
div.dropdown-menu {
    background-color: #0066cc;
    box-shadow: 2px 2px 4px #002e6e;
}
div.dropdown-menu a.dropdown-item {
    color: #fff;
}
div.dropdown-menu a.dropdown-item:hover {
    background-color: #ABCD42;
    text-decoration: underline;
    transition: background-color 0.5s ease;
}
div#navbarResponsive ul.navbar-nav.ml-auto li a {
    color: #fff;
}
div#navbarResponsive ul.navbar-nav.ml-auto li:hover {
    background-color: #ABCD42;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
form.form-inline.my-2.my-lg-0 button.btn.btn-outline-success.my-2.my-sm-0 {
    color: #fff;
    border-color: #fff;
}
form.form-inline.my-2.my-lg-0 button.btn.btn-outline-success.my-2.my-sm-0:hover {
    background-color: #ABCD42;
}
div.container nav ol.breadcrumb {
    margin-top: 10px;
}
/**
 * 02. CSS GENERAL INFERIOR
 *
 * -------------------------------------------------------------------
 */
footer.py-5 {
    background-color: #0066cb;
    margin-top: 20px;
}
footer.py-5 div.container div.row div.col-lg-4 h5,
footer.py-5 div.container div.row div.col-lg-4 ul {
    margin: 0;
    padding: 0;
    color: #fff;
}
footer.py-5 div.container div.row div.col-lg-4 h5 {
    font-weight: 700;
    text-shadow: 2px 2px #002e6e;
    margin: 6px 0 4px 0;
}
footer.py-5 div.container div.row div.col-lg-4 ul {
    list-style-type: none;
}
footer.py-5 div.container div.row div.col-lg-4 ul li {
    display: inline;
    padding-right: 4px;
}
footer.py-5 div.container div.row div.col-lg-4 ul li a {
    color: #fff;
}
footer.py-5 div.container div.row div.col-lg-4 ul li a:hover {
    color: #002e6e;
    text-shadow: 0 0 3px #fff;
    transition: color, text-shadow 0.5s ease;
}
footer.py-5 div.container div.row.pie-da div.col-lg-12 p,
footer.py-5 div.container div.row.pie-da div.col-lg-12 p a {
    color: #6aa9d3 !important;
    text-shadow: 0 0 3px #000;
}
/**
 * 03. CSS SECCIÓN LIMPIEZA DE TAPIZADOS
 *
 * -------------------------------------------------------------------
 */
div.row.tapizado-texto div.col-lg-12 p {
    color: #1E477F;
    font-style: italic;
}
div.row.text-center.text-lg-left.tapizado-imagenes div.col-lg-3.col-md-4.col-xs-6
a.d-block.mb-4.h-100 img.rounded-circle.img-fluid.img-thumbnail {
    border: 2px solid #65C600;
    box-shadow: 0 8px 6px -6px black;
}
div.row.text-center.text-lg-left.tapizado-imagenes div.col-lg-3.col-md-4.col-xs-6
a.d-block.mb-4.h-100 img.rounded-circle.img-fluid.img-thumbnail:hover {
    border: 2px solid #cccccc;
    transition: border 0.5s ease;
}
/**
 * 04. CSS SECCIÓN CONTACTO
 *
 * -------------------------------------------------------------------
 */
div.row div.col-md-4.direccion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.row div.col-md-4.direccion ul li {
    margin-bottom: 12px;
    font-size: .9em;
}
div.row div.col-md-4.direccion ul li span.fa-stack i.fa.fa-circle,
div.row div.col-md-4.direccion ul li i.fas {
   color: #ABCD42;
}
form#formulario-contacto button:hover {
    background-color: #abcd42;
    border: 1px solid #abcd42;
    transition: background-color 0.5s ease;
}
div.row.mapa {
    margin: 30px 0;
}
div.row.mapa div.col-lg-12 div.google-map iframe {
    border: 0;
    width: 100%;
    height: 500px;
}
div.row.contacto-inferior div.col-lg-4.text-center.dca-logo-texto {
    color: #00b8de;
}
div.row.contacto-inferior div.col-lg-8.info-extra div.row div.col-lg-4 h6 {
    text-decoration: underline;
}
/**
 * 05. CSS SECCIÓN INICIO
 *
 * -------------------------------------------------------------------
 */
 .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }
 .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #00b8de;
    box-shadow: 0px 2px 3px #012e6f;
 }
 /**
 * 06. CSS SECCIÓN CATALOGO
 *
 * -------------------------------------------------------------------
 */
 div.row div.col-md-4 img.img-fluid.quienes-somos {
    border: 2px solid #65c600;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
 }
/**
 * 07. CSS SECCIÓN CATALOGO
 *
 * -------------------------------------------------------------------
 */
div.col-lg-3.order-lg-0 ul.list-group.catalogo li.list-group-item ul {
   list-style-type: none;
   padding-left: 10px;    
}
div.productos {
    border: 1px solid #abcd42;
    border-radius: 5px;
    padding: 5px 5px 0;
    margin-bottom: 10px;
}
img.img-fluid.d-block.mx-auto.logo-en-catalogo {
    margin-bottom: 20px;
}